# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\FELIPE E GUILHERME\Desktop\FE\Trabalhos Mackenzie - 2º semestre\Algoritmos e Progamação II\Tetris-piratas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
